<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <!-- <form action="/data" method="POST">
        <label for="keyword">Keyword</label><br>
        <input type="text" name="keyword"><br>
        <input type="submit" value="search"><br>
    </form> -->
    <!-- <form class="search" action="SearchForm" method="POST"></form>
    {{ form.hidden_tag() }}
    {{form.keyword}}
    {{form.submit}} -->
    <!-- <button class="space2" type="submit"><i class="fa fa-search">Search</i></button> -->
    <!-- </form> -->
    <!-- <form class="search" action="/search" method="POST">
        <label for="keyword">Keyword</label><br> -->
        <!-- <input class="space" type="text" name="keyword"><br>
        <button class="space2" type="submit"><i class="fa fa-search"></i></button>
    </form> -->
    <h2>You searched for.....</h2>
    {% for course in searched %}
    <p>{{course.Subject}}</p>
    <p>{{course.Description}}</p>
    <p>{{course.Duration}}</p>
    <p>{{course.Institute}}</p>
    <p>{{course.Instructor}}</p>
    {% endfor %}
</body>
</html>